<h1><%= @user.username %> Web3 Profile</h1>


<dl>
  <dt>Main Wallet Address</dt>
  <dd><a href = "https://etherscan.io/address/<%= @user.wallet_address %>" target="_blank" ><%= @user.wallet_address %></a></dd>
  
<% if @parsed_data.fetch("data").blank? %>

  <dt>Login to LooksRare to complete profile set up</dt>
  <dd><a href = "https://www.looksrare.org/" target="_blank">LooksRare</a></dd>

<% else %>
  <dt>Biography</dt>
  <dd><%= @parsed_data.fetch("data").fetch("biography") %></dd>


  <dt>Personal Website</dt>
  <dd><a href = "<%= @parsed_data.fetch("data").fetch("websiteLink")%>" target="_blank"><%= @parsed_data.fetch("data").fetch("websiteLink")%></a></dd>

  <dt>Twitter </dt>
  <dd><a href = "<%= @parsed_data.fetch("data").fetch("twitterLink")%>" target="_blank"><%= @parsed_data.fetch("data").fetch("twitterLink")%></a></dd>

<% end %>

</dl>

<% if @user.id == session.fetch( :user_id) %>

<dl>
  <dt>Add additional wallet to profile</dt>
  <dd>
    <form action="/user_add_wallet/<%= @user.username %>" >
      <label for="new_wallet_addition">Wallet address</label>
      <input id="new_wallet_addition" type="text" name="input_alt_wallet_address" placeholder="Enter new wallet..." value="<%= session.fetch( :username) %>">
      <button>Add Wallet</button>
    </form>
  </dd>
</dl>

<% end %>

<a href = "/user_alt_wallets/<%= @user.username %>">All user alt wallets</a>

<a href = "/delete_user/<%= @user.id %>">Delete User</a>
